* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: rgb(54, 204, 124);
    background: linear-gradient(180deg, rgb(54, 204, 137) 0%, rgb(19, 124, 56) 77%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.avatar {
    width: 80px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 20px white ;
    border: 3px solid white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 1px;
}

H2 {
    font-size: 16px;
}

.profile {
    text-align: center;
    margin-top: 15px;
}

.social img {
    height: 33px;
    width: 33px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.links-list {
    list-style: none; 
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
   display: block;
   background-color: white;
   box-shadow: 0 0 20px white;
   border-radius: 5px;
   padding: 15px 20px;
   text-decoration: none;
   color: rgb(54,77,204);
   font-weight: bold ;
}

.links-list li a span {
    color: gray;
    display: block;
    margin-top: 10px;
}

